.call-to-action {
  margin-bottom: -100px;
    position: relative;
    padding: 50px 205px;
    background: linear-gradient(-45deg,
          $transparent 49.9%, 
          $color 49.9%, $color 60%, 
          $transparent 60%
          ),
        linear-gradient(-45deg,
          $color 10%,
          $transparent 10%
          );
    background-size: 10px 10px;
    background-color: $color-main;
    z-index: 3;

    &__inner {
      text-align: center;
    }

    &__text {
      color: $black;
    }


  @media (max-width: $screen-sm) {
    & {
      padding: 25px 10px;
    }
  }
}