.page-header {
  padding-top: 15px;
  display: block;
  background: $brown;

  &__phone {
    display: block;
    color: $color-main;
    font-size: 1.1rem;
  }

  &__phone-icon {
    display: none;
  }

  @media (max-width: $screen-sm) {
    &__phone-icon {
      display: block;
    }
  }
}