$color: #e5b021;
$transparent: rgba(0, 0, 0, 0);

.promo {
  position: relative;
  padding-top: 10px;
  padding-bottom: 75px;
  background: $brown;
  overflow: hidden;

  &__info {
    margin-top: 35px;
    position: relative;
    padding: 55px 45px;
    background: linear-gradient(-45deg,
          $transparent 49.9%, 
          $color 49.9%, $color 60%, 
          $transparent 60%
          ),
        linear-gradient(-45deg,
          $color 10%,
          $transparent 10%
          );
    background-size: 7px 7px;
    background-color: $color-main;
    z-index: 3;
  }

  &__bg {
    position: absolute;
    width: 82%;
    height: 85%;
    right: 0;
    top: 5%;
    background: url(../img/foto.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
  }

  &__title {
    font-size: 2.2rem;
  }

  &__subtitle {
    display: block;
    margin: 28px 0px;
    font-size: 1.1rem;
  }

  &__btn {
    margin-top: 22px;
  }

  @media (max-width: $screen-sm) {
    &__title {
      font-size: 1.3rem;
      line-height: 2.3rem;
    }

    &__subtitle {
      font-size: 1.3rem;
    }

    &__bg {
      display: none;
    }
  }

}